@media screen and (max-width: 1024px) {
    nav {
        .search-bar {
            display: none;
        }

        .profile-area {
            gap: 2rem;

            button#menu-btn {
                display: inline;
                background: transparent;
                color: var(--color-dark);
                cursor: pointer;
            }
        }
    }

    main {
        grid-template-columns: 1fr;
        // gap: 15rem;

        aside {
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 3;
            background: var(--color-white);
            width: 22rem;
            height: 100vh;
            box-shadow: 2rem 0 2rem var(--color-primary-light);
            gap: 0;
            animation: showSidebar 500ms ease forwards;

            button#close-btn {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 1rem;
                right: 1rem;
                z-index: 4;
                background: transparent;
                color: var(--color-dark);
                cursor: pointer;
            }

            .sidebar {
                margin-top: 4rem;
            }

            .updates {
                display: none;
            }
        }

        .middle {
            .cards {
                grid-template-columns: 1fr 1fr;
            }
        }

        canvas {
            margin: 3rem 0 1rem;
        }

        .right {
            .transactions {
                margin-top: 5rem;
            }
        }
    }

    @keyframes showSidebar {
        to {
            left: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        .profile-area {
            gap: 2.6rem;

            h5 {
                display: none;
            }
        }
    }

    .middle {
        .cards {
            grid-template-columns: 1fr !important;
        }
    }
}